* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    padding: 1%;
    background-color: var(--blue);
    color: var(--white);
    display: flex;
    align-items: center;
    align-content: center;
}

header h1 {
    display: none;
}

.logo img {
    height: 100px;
    width: auto;
}

header span {
    position: absolute;
    right: 5%;
}

body {
    background-color: var(--white);
}

main {
    padding: 2.5%;
    align-items: center;
    align-content: center;
}

h2 {
    font-family: Bahnschrift, serif;
    padding: 15px;
}

.about {
    font-family: Anonymous Pro, serif;
    color: var(--black);
}

.about_image {
    min-width: 200px;
    width: 20%;
    height: auto;
    padding: 1%;
    float: right;
}
